.control-label {color:#336699}
.control-label > legend{font-size: 16px;color:#d011a9;}
.upload-button{margin-top: 13px; margin-left: 35px;}
a {color:black;text-decoration: none;}
a:focus, a:hover {color: black;text-decoration: none;}